.welcome-name {
    color: red;
    font-weight: bold;
}

.winer-congratulations {
    color: #0066ff;
    font-family: 'Roboto Condensed', sans-serif;
}

.no-winer-congratulations {
    color: #cdcdb1;
    font-family: 'Roboto Condensed', sans-serif;
}

.winer-name {
    color: #ff8000;
}